@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:wght@200;400;600;700;900&display=swap');


/*Modal Result Pokemon*/


#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 5;
    background: rgba(25, 26, 32, 0.9);
  }
  
  .modal-container {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    max-height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    /*border: 5px solid #5b5b5b;*/
    font-family: "Poppins", sans-serif;
  }

  .container-features-poke{
    border-radius: 10px;
  }

  .header-img{
    width: 10%;
    position: absolute;
    left: -20px;
    top: -20px;
  }
  
  .modal-container .img-modal {
    width: 25%;
    position: absolute;
    right: -15%;
    bottom: -20px;
    animation-name: bounce;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .modal-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .close-button-modal{
    width: 10%;
    position: absolute;
    right: -20px;
    top: -20px;
    transition: 2s;
  }
  .close-button-modal:hover{
    cursor: pointer;
    width: 12%;
    right: -22px;
    top: -22px;
    transition: 2s;
  }

/*estilos para el primer hijo*/
  .childrenOne{
    width: 100%;
    height: 150px;
    /*background-color:#fdae01;*/
    border-radius: 0 0 98% 98% / 100%;
  }

  .container-img-num-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
  }

  #id-pokemon{
    padding-left: 20px;
  }

  .generation-and-id{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 90%;
  }
  
  .modal-container p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 28px;
    font-weight: 600;
    color: rgb(44, 43, 43);
  }
  
  .modal-container h3 {
    color: #072146;
    font-size: 1.2rem;
  }
  
  
  