:root {
  --color-primary: #1512A8;
  --color-secondary: #F20000;
  /*pokémon's types colors*/
  --color-bug: #92BD2D;
  --color-dark: #595761;
  --color-dragon: #0C6AC8;
  --color-electric: #F2CF0C;
  --color-fairy: #DB4ECD;
  --color-fighting: #D73354;
  --color-fire: #FD2020;
  --color-flying: #5985D8;
  --color-ghost: #4455B7;
  --color-grass: #3B9D32;
  --color-ground: #DF733C;
  --color-ice: #39C0A9;
  --color-normal: #838383;
  --color-poison: #62087C;
  --color-psychic: #FF6B67;
  --color-rock: #B19526;
  --color-steel: #308497;
  --color-water: #219CE1;
}

/*Clases que contienen colores que añadiremos a los contenedores de los tipos de pokemon*/
.bug{
  background: var(--color-bug)
}

.dark{
  background: var(--color-dark);
}

.dragon{
  background: var(--color-dragon);
}

.electric{
  background: var(--color-electric);
}

.fairy{
  background: var(--color-fairy);
}

.fighting{
  background: var(--color-fighting);
}

.fire{
  background: var(--color-fire);
}

.flying{
  background: var(--color-flying);
}

.ghost{
  background: var(--color-ghost);
}

.grass{
  background: var(--color-grass);
}

.ground{
  background: var(--color-ground);
}

.ice{
  background: var(--color-ice);
}

.normal{
  background: var(--color-normal);
}

.poison{
  background: var(--color-poison);
}

.psychic{
  background: var(--color-psychic);
}

.rock{
  background: var(--color-rock);
}

.steel{
  background: var(--color-steel);
}

.water{
  background: var(--color-water);
}

/*Clases que se utiliza para filtrar las cartas en el buscador*/

.hideCard{
  display: none !important;
}


/*Clase para validar y mostrar si el usuario ingresa solo letras en el input buscador*/

#text-error{
  display: none;
  background-color: #fe4a22;
  padding: 8px 20px;
  border-radius: 5px;
  color: ghostwhite;
  font-size: 15px;
  text-align: center;
}

/*Hover para las clases de las tarjetas que contienen el tipo de pokemon*/

.bug:hover{
  background: rgb(103, 167, 1);

}

.dark:hover{
  background: rgb(48, 47, 47);
}

.dragon:hover{
  background: rgb(31, 144, 209);
}

.electric:hover{
  background: rgb(190, 190, 4);
}

.fairy:hover{
  background: rgb(214, 2, 214);
}

.fighting:hover{
  background: rgb(197, 33, 60);
}

.fire:hover{
  background: rgb(219, 3, 3);
}

.flying:hover{
  background: rgb(92, 92, 190);
}

.ghost:hover{
  background: rgb(57, 57, 172);
}

.grass:hover{
  background: rgb(2, 133, 2);
}

.ground:hover{
  background: rgb(187, 89, 24)
}

.ice:hover{
  background: rgb(0, 224, 224);
}

.normal:hover{
  background: rgb(105, 105, 105);
}

.poison:hover{
  background: rgb(71, 0, 88);
}

.psychic:hover{
  background: rgb(243, 76, 104);
}

.rock:hover{
  background: rgb(150, 132, 33);
}

.steel:hover{
  background: rgb(48, 107, 112);
}

.water:hover{
  background: rgb(1, 138, 180);
}


.borderRed{
  border-width: 3px;
  border-style: solid;
  border-color: rgb(85, 85, 85);
}

