@media (max-width:1200px) {
    .cont_imagenes{
       margin-left: 250px;
    }

    .contenedor_etadistica{
        margin-left: 270px;
    }

}

@media (max-width:1024px){
    .cont_imagenes{
        margin-left: 160px;
     }
 
     .contenedor_etadistica{
         margin-left: 180px;
     }
}

@media screen and (max-width: 800px){ 
    .cont_imagenes{
        margin-left: 75px;
     }
 
     .contenedor_etadistica{
         margin-left: 100px;
     }
     .contenedor_etadistica .barra{
        margin:25px 0;
     }
     .directores img{
        margin-left:20px;
     }

     .contenedor_etadistica.horizontal .barra::after{
  
        transform: rotate(40deg);
    } 
    .footer_content{
        justify-content:center;
    }

    .social_media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social_media_icon{
        margin-left: 0;
    }

    .social_media i{
      margin-left: 0;
    }
    
    .contact_us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
   
}

@media screen and (max-width: 735px){
    .cont_imagenes{
        margin-left: 100px;
     }
 
     .contenedor_etadistica{
         margin-left: 140px;
     }
     
     .contenedor_etadistica .barra{
        height: 45px;
     }
     .directores img{
        width: 50px;
        height: 50px;
     }

}



@media (max-width: 720px){
    .cont_imagenes{
        margin-left: 35px;
     }
 
     .contenedor_etadistica{
         margin-left: 100px;
         width: 300px;
     }
     .contenedor_etadistica .barra{
        margin:25px 0;
     }
     .directores img{
        margin-left:15px;
     }

     .contenedor_etadistica.horizontal .barra::after{
        font-size: 10px;
        transform: rotate(35deg);
    } 
    .contenedor_etadistica .cont_estadistica::before{
        font-size: 10px;
    }
    .contenedor_etadistica .cont_estadistica::after{
        font-size: 10px;
    }
    .titulo h1{
        font-size: 25px;
    }
    .modal_titulo_descripcion h2{
        font-weight: 600;
        font-size:30px;
    }
    
    .modal_director{
        font-size: 10px;
    }
    
    .modal_texto_largo{
        font-size: 10px;
    }
     
    .modal_score_date{
        font-size: 10px;
    }
    .modal_score_date i{
        font-size: 10px;
    }
    
    .cont_people{
        font-size: 10px;
        width: 100px;
    } 
    
    .cont_people img{
        width: 100%;
        height: 80px;
    }
    .con_people_text{
        font-size: 10px;
    }
    .modal_imagen img{
        width: 200px;
        height: 250px;
    }
     
    .close{
        font-size:20px;
        width: 80px;
        height: 30px;

    }
    .cabecero_modal{
        height: 50px;
    }
    
    .cabecero_modal_centro img{
        width: 100px;
       
    }

    /*menu*/
    .container__menu{
        height: 50px;
        align-items: center;
    }
 
    .lista_inicio{
        flex-direction: column;
        background: var(--menu_degradado);
        position: fixed;
        left: 0;
        top: 50px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    } 
     
    .menu_inicio a{
        font-size: 10px;
        padding: 10px;
    }

    .menu_inicio a:hover{
        transform: scale(1);
    }

    .menu_directores{
        left: 100px;
        font-size: 15px;
    }

    .menu_inicio:hover .menu_directores{
        top: 50px;
        
    }
    
    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 200px;
        visibility: visible;
        opacity: 1;
    }




    .footer_content{
        justify-content:center;
    }

    .social_media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social_media_icon{
        margin-left: 0;
    }

    .social_media i{
      margin-left: 0;
    }
    
    .contact_us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .division{
        height:80px;
    }

    .figure img{
        width: 80px;
    }
} 



@media (max-width: 600px){
    .textos_card h2{
        font-size:10px;
    }
    .titulo h1{
        font-size: 20px;
        -webkit-text-stroke: 0.1px white;
    }
    .card_pelicula{
        width: 150px;
    }
    .card_pelicula img{
        width: 100%;
        height: 200px;
        
    }
    .textos_card{
        margin: 5px 0px;
        padding: 0 10px;
        font-size: 10px;
    }

    .boton_card i{
        font-size: 10px;
       
    }
    
    .boton_card p{
        font-size: 10px;
       font-weight: 300;
    }

     .modal_pelicula{
        flex-direction: column;
        margin-top: 0px;
        padding:0px;
    }

    .close{
        width: 50px;
    }

    .modal_imagen img{
        margin-left: 60px;
        padding: auto;
        width: 250px;
        height: 300px;
    }

    .modal_imagen{
        width: 100%;
    }

    .modal_titulo_descripcion{
    
        width: 100%;
    }
    .contenedor{
        padding-top: 40px;
    }

    .card_pelicula{
        height: 315px;
        font-size: 8px;
    }


}

@media (max-width: 500px){
    .texto_estadistica{
        height: 500px;
    }
    .cont_imagenes{
        margin-left: 30px;
     }
     .texto_estadistica h2{
        font-size: 35px;
     }
     .textos_p_estadistica{
        font-size: 13px;
     } 
     .contenedor_etadistica{
         margin-left: 45px;
         width: 200px;
         height: 250px;
     }
     .contenedor_etadistica .barra{
        margin:15px 0;
     }
     .directores img{
        margin-left:5px;
        
     }

     .contenedor_etadistica.horizontal .barra::after{
        font-size: 10px;
        transform: rotate(10deg);
    } 
    .contenedor_etadistica .cont_estadistica::before{
        font-size: 10px;
    }
    .contenedor_etadistica .cont_estadistica::after{
        font-size: 10px;
    }


    .card_pelicula{
        margin-left: 5px;
    }

    .social_media{
        width: 100%;
    }
    
    .contact_us{
        width: 90%;
    }
    
    .division{
        height:60px;
    }

    .figure img{
        width: 60px;
    }
   
}

@media (max-width:450px) {
    .img_header img{
        width: 250px;
    }
    .titulo h1{
        font-size: 15px;
        -webkit-text-stroke: 0.1px white;
    }

    .contenedor_etadistica .barra{
        height: 40px;
    }

    .directores img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .contenedor_etadistica{
        margin-left:50px;
    }

}

@media (max-width:380px) {
    .contenedor_etadistica .barra{
        height: 30px;
    }

    .directores img{
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
}


