@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,800&display=swap');

:root{
    --verde_color: #445f34;
    --rosa_color:#b64e69;
    --rosa_fuerte_color:#9d002b;
    --rosa_claro_color:#dc8eb5;
    --verde_claro_color:#a19d7a;
    --cremita_color:#b0978c;
    --marron_color:#3c2f29;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}



body::-webkit-scrollbar{
    display: none;
}

/* css de las card y del contenedor de las peliculas*/
.contenedor{
    width: 90%; 
    max-width:1200px ;
    overflow: hidden;
    margin:  auto;
    padding: 60px 0;
}

.peliculas{
    padding: 50px 0px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.card_pelicula{
    width: 250px;
    height:450px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
    background-color: var(--cremita_color);

}


.card_pelicula img{
    width: 100%;
    height: 350px;
    
}
.textos_card{
    margin: 15px 0px;
    padding: 0 10px;
}

.boton_card{
    display:flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items:center;
}


.boton_card i{
    font-size: 20px;
    color: #ffd60a
}

.boton_card p{
   font-weight: 500;
}

.select{
    background: var(--rosa_color);
    border: none;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer
}

/* css  del modal*/
.modal{
    display: none;
    width: 100%;
	height:100%;
    z-index:1;
    overflow: scroll;
    background: white;
    top:0;
    left: 0;
    position: fixed;
}

.cabecero_modal{
    width: 100%;
    height: 70px;
    background: var(--verde_claro_color);
    padding: 0px 20px;
}
.cabecero_modal_centro{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecero_modal_centro img{
    width: 200px;
    height: 100%;
}
.close{
    color:var(--rosa_fuerte_color);
    font-size: 30px;
    padding: auto;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: var(--marron_color);
    border: none;
    border-radius: 4px;
    cursor: pointer
}
.modal::-webkit-scrollbar{
    display: none;
}

.modal_pelicula{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.modal_imagen{
    width:50%;

}
.modal_imagen img{
    width: 300px;
    height: 400px;
}
.modal_titulo_descripcion{
    width: 50%;
    text-align: justify;
    padding: 0 10px;
    text-align: center

}
.modal_titulo_descripcion h2{
    font-weight: 600;
    font-size: 50px;
    color: var(--verde_color)
}

.modal_director{
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 15px 0px;
}

.modal_score_date{
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
    text-transform: uppercase;
}
.modal_score_date i{
    font-size: 25px;
    color: #ffd60a
}
.modal_texto_largo{
    display:flex;
}
.muestra{
    display: flex;
    flex-wrap: wrap;
}

.personajes{
    margin-top: 20px;
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
}
.cont-people .cont-locacion .cont-vehiculos{ 
    width: 100px;
    height: 100px;
    font-size: 15px;
}
.cont-people img{
    width: 80px;
    height: 80px;
}

.locacion{
    margin-top: 20px;
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
}

.cont-locacion img{
    width: 80px;
    height: 00px;
}

.vehiculos{
    margin-top: 20px;
    display:flex;
    gap: 15px;
    flex-wrap: wrap;
}

.cont-vehiculos img{
    width: 80px;
    height: 80px;
}





/*menu*/

.container__menu{
    width: 100%;
    height: 70px;
    background: var(--rosa_claro_color);
    padding: 0px 20px;
    position: fixed;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}


.nav_menu{
    height: 100%;
}


.lista_inicio{
    height: 100%;
    display: flex;
}


.menu_inicio{
    height: 100%;
    list-style: none;
    position: relative;
}


.menu_inicio a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: var(--marron_color);
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}


.menu_inicio a:hover{
    transform: scale(1.1);
    background: var(--rosa_fuerte_color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*SUBMENU*/


.menu_directores{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: rgb(248, 248, 248);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
    list-style: none;
}

.menu_inicio:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.menu_directores:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(255, 255, 255);
    position: absolute;
    top: -12px;
    left: 20px;
}

.menu_director a{
    display: block;
    color: #edf0f1;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.menu_director a:hover{
    background: #f0f0f0;
    color: rgb(238, 243, 245);
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
