body {
    margin: 0;
    background-color: #010208;
}

/* utilizando solo el estilo para mi foto (cabecera) es suficiente. Esto ya no es necesario
.header {
    background: url(fotosHP/fotocuatro.jpeg)no-repeat;
    margin: 0;
    overflow: hidden;
} */

/* estilo para mi foto */
.cabecera {
    width: 100%;
}

/*Para que lo aplique a toda mi página (Selector universal) */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*Display: flex es para que los botones se coloquen uno al lado del otro / Juntify content se utiliza para colocar los botones en el centro*/
.menu {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
}


/*buscar se significa 2rem 
buscar pointer */
.menu p {
    margin-right: 2rem;
    cursor: pointer;
    /*cursor pointer hace que cuando me posicione en el menu, la flecha se convierta en manito */
}


/*Para que aparezca el menú desplegable*/
.menu p:hover {
    background-color: #999494;
    transition: background-color .3s ease-in-out;
    /*para que el hover tenga transición */

}

main {
    /*   background: url(fotosHP/harry3.jpeg)no-repeat; */
    /*   background-size: 100%; */
    position: relative;

}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);

}

.maininterno {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.cuerpo {
    width: 100%;
    height: 100%;

}

.content {
    margin-top: 2rem;

}

.presentacion {
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio h1 {
    font-size: 40px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 4px 4px 0px rgb(16, 47, 1);
}

.inicio p {
    font-size: 18px;
    font-weight: 900;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 4px 4px 0px rgb(16, 47, 1);
}

.foto2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.barajas {
    gap: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;

}

.tarjeta {
    background: black;
    border: 4px solid #ded866;
    border-radius: 15px;
    width: 40%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 16px 16px;
    box-shadow: 4px 4px 6px 1px rgb(249 245 245 / 50%);
}

.header_tarjeta img {
    width: 100%;
    display: inline-block;
    object-fit: cover;
    box-shadow: 6px 6px 6px 1px rgb(0 0 0 / 50%);
}

.header_tarjeta2 img {
    width: 70%;
    display: inline-block;
    object-fit: cover;
    box-shadow: 6px 6px 6px 1px rgb(0 0 0 / 50%);
    padding: 3px;
}


.tarjetabody {
    color: white;
    text-align: center;
}

.personajes {
    gap: 1rem;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    justify-content: space-around;
}

.tarjeta2 {
    background-color: #aeada4;
    display: flex;
    flex-direction: column;
    border: 4px solid #4c7a87;
    border-radius: 15px;
    width: 40%;
    margin-bottom: 16px;
    padding: 16px 16px 16px 16px;
    padding: 16px 0;
    box-shadow: 4px 4px 6px 1px rgb(249 245 245 / 50%)
}

.funfact {
    color: white;
    text-align: center;
    height: 100vh;
}

[data-content] {
    display: none;
}

.active[data-content] {
    display: block;

}

.barra {
    justify-content: center;
    color: white;
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

.barraSort {
    padding: 5px;
    margin: 5px;
}

.barraHouse {
    padding: 5px;
    margin: 5px;
}

.barraGender {
    padding: 5px;
    margin: 5px;
}


.footer {
    background-color: black;
    width: 100%;
    height: 30px;
    /*ancla la barra en la parte de abajo*/
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0;
    align-items: center;
    z-index: 2;
}

.tarjeta2body {
    color: black;
    font-size: 20px;
    text-align: center;
}

.reset {
    background-color: rgb(10, 83, 10);
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 3px 1px rgb(249 245 245 / 50%)
}
.inicio h2 {
    font-size: 40px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0), 4px 4px 0px rgb(16, 47, 1);
}


/* Visualización para tablets (media query) */
@media (min-width: 600px) and (max-width: 767px) {
    .inicio {
        flex-direction: row;
    }
    .tarjeta {
        width: 20%;
    }
    .tarjeta2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_tarjeta2 {
        width: 90%;
    }
    .menu {
        font-size: 25px;
    }
    .inicio h1 {
        font-size: 55px;
    }
    .inicio p {
        font-size: 35px;
    }
    .reset {
        font-size: 25px;
    }
    .barra {
        font-size: 40px;
    }
    #selectordenar {
        font-size: 25px;
    }
    #selectfiltrar {
        font-size: 25px;
    }
    #selectgender {
        font-size: 25px;
    }
    .inicio h2 {
        font-size: 50px;
        text-shadow: 2px 2px 0px rgb(0, 0, 0), 4px 4px 0px rgb(16, 47, 1);
    }
}

/* Visualización para desktop */
@media only screen and (min-width: 768px) {
    .inicio {
        flex-direction: row;
    }
    .tarjeta {
        width: 20%;
    }
    .tarjeta2 {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_tarjeta2 {
        width: 90%;
    }
    .menu {
        font-size: 30px;
    }
    .inicio h1 {
        font-size: 60px;
    }
    .inicio p {
        font-size: 40px;
    }
    .reset {
        font-size: 25px;
    }
    .barra {
        font-size: 30px;
    }
    #selectordenar {
        font-size: 20px;
    }  
    #selectfiltrar {
        font-size: 20px;
    }  
    #selectgender {
        font-size: 20px;
    }
    .inicio h2 {
        font-size: 50px;
        text-shadow: 2px 2px 0px rgb(0, 0, 0), 4px 4px 0px rgb(16, 47, 1);
    }
}

/*.estadisticas {
    width: 40%;
    margin: auto;
}

canvas {
    max-width: 100%;
}*/

/*  COMENTAR */