* {
  font-family: 'Inter', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

body {
  color: #F2F2F2;
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

header {
  padding: 0px;
  width: 100%;
  color: #f2f2f2;
  font-size: 80px;

}

header h1 {
  font-size: 80px;
  padding-top: 135px;
  padding-left: 40px;
  padding-bottom: 30px;
  background-color: #D99982
}

div nav {
  width: 100%;
  background-color: #FFEAE2;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items:center;
}

nav a {
  text-decoration: none;
  color: #A68F97;
  background-color: #F2F2F2;
  font-size: 36px;
  font-weight: 900;
  padding: 15px;
  line-height: 70px;
}

.menuLeft {
  width: 50%;
  display: flex;
}

.menuLeft img {
  height: 100px;
  vertical-align: top;
  background-color: #F2F2F2;
  padding: 20px;
}

.menuRight {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.menuRight img {
  height: 100px;
  vertical-align: top;
  background-color: #F2F2F2;
  padding: 20px;
}

section {
  padding: 150px;
  width: 100%;
  background-color: #FFEAE2;
  font-size: 40px;
  text-align: center;
  color: #D99982;
}

section h1 {
  padding-bottom: 60px;
  font-weight: 1200;
  font-size: 80px;
}


.totoro {
  position: fixed;
  width: 288px;
  height: 337px;
  bottom: 0;
  right: 0;
}


.producers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #FFEAE2;
  padding: 50px;
  margin: auto;
}

.producers div {
  width: 230px;
  height: 150px;
  color: #FFEAE2;
  background-color: #B6CAF2;
  text-align:center;
  padding: 20px;
  margin: 20px;
  font-size: 40px;
  border: 5px solid #F2F2F2;
}

.footer {
  padding: 20px;
  width: 100%;
  background-color: #A68F97;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.footer a {
  text-decoration: none;
  color: #FFEAE2;
}
